.filter-exercise-progress {
  max-width: 400px;
}
.chart-holder-row {
  position: relative;
}

.btn-group-progress {
  position: absolute;
  bottom: 112px;
  right: 0px;
}

.y-w-btn {
  font-weight: 700;
}

.remove-last-pr:focus {
  background-color: #ff8a00;
  border: 1px solid rgb(54 54 60);
  box-shadow: none;
}
