.filter-exercise-progress {
  max-width: 400px;
}
.chart-holder-row {
  position: relative;
}

.y-w-btn {
  font-weight: 700;
}

.remove-last-pr:focus {
  background-color: #ff8a00;
  border: 1px solid rgb(54 54 60);
  box-shadow: none;
}

.chart-col {
  padding: 0px;
}

.progress-btn-col {
  padding: 0px;
  padding-bottom: 63px;
  margin-right: 50px;
}

@media (max-width: 768px) {
  .progress-btn-col {
    padding: 0px;
    padding-bottom: 63px;
    margin-left: 90px;
  }
}
