.basic-workout-con {
  background-color: rgb(54, 54, 60);
  min-height: 100vh;
  color: white;
}
.workout-name {
  font-size: 70px;
  color: #ff8a00;
  height: 80px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-weight: 700;
}

.workout-name:focus {
  color: #ff8a00;
  height: 80px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.exercise-div {
  border: 2px solid rgb(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px;
}

.w-placeholder {
  font-size: 30px;
  padding: 0;
  color: #ff8a00;
  background-color: transparent;
  border: none;
  font-weight: 700;
}

.w-placeholder:focus {
  color: #ff8a00;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.ex-name {
  font-size: 40px;
}

.ex-name:focus {
  font-size: 40px;
  border: none;
  outline: none;
  box-shadow: none;
  color: #ff8a00;
}

.ex-name::placeholder {
  color: rgb(155, 167, 179);
}

.setsAndFocus {
  font-size: 30px;
}
.lift-sets {
  margin-top: -7px;
}

.focus-area {
  padding-left: 10px;
  resize: none;
}

.focus-area:read-only {
  color: rgb(108 117 125);
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.set-div {
  position: relative;
  font-size: 30px;
  border: 2px solid rgb(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px;
  width: 75%;
}
.weight-input-col {
  max-width: 130px;
}
.list-group-item {
  background-color: rgb(54, 54, 60);
  font-size: 20px;
  border: 1px solid white;
  cursor: pointer;
}

.exercise-list-container {
  position: sticky;
  top: 248px;
}

.exercise-list {
  margin-top: 7px;
  font-size: 40px;
}

.datalist-style {
  background-color: aqua;
}

.exercise-con {
  position: relative;
}

.remove-ex-btn {
  position: absolute;
  top: 2px;
  right: 17px;
  border-radius: 7px;
}

.add-ex-track {
  position: absolute;
  top: 271px;
  left: 40px;
  border-radius: 7px;
  cursor: pointer;
}

.track-exercise-btn-on {
  display: inline-block;
  padding: 10px;
  background-color: #ff8a00;
  border: 2px solid white;
  border-radius: 50%;
}
.track-exercise-btn-off {
  display: inline-block;
  padding: 10px;
  background-color: rgb(54 54 60);
  border: 2px solid white;
  border-radius: 50%;
}

.remove-set-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 7px;
}

.add-exercise-btn {
  font-size: 25px;
}

.save-workout-btn {
  font-size: 25px;
}
.save-workout-btn:hover {
  background-color: rgb(4 170 109);
}

.trash-icon {
  background-color: #ff8a00;
  border: none;
}

.w-placeholder:read-only {
  background-color: transparent;
}
.exercise-list-item {
  min-height: 54px;
}

.exercise-list-item:hover {
  background-color: rgb(74 74 82);
}

.exercise-gif {
  max-width: 200px;
  border-radius: 10px;
}

.ex-list-header {
  font-size: 40px;
  color: #ff8a00;
  font-weight: 700;
}

.modal-ex-img {
  border-radius: 10px;
  max-width: 200px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.modal-ex-img:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modal-ex-col {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  color: #ff8a00;
  font-weight: 700;
}

.pagination-row {
  margin-top: 30px;
  margin-left: 36px;
}

.close-btn-ex-model {
  margin-right: 35px;
}

.ex-name-span {
  max-width: 200px;
}

.pagination-btn {
  background-color: #ff8a00;
  border: none;
  margin-right: 5px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
