.find-workout-table-div::-webkit-scrollbar {
  width: 0.5em;
  background-color: #f5f5f5;
}

.find-workout-table-div::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.find-workout-name:hover {
  text-decoration: underline;
}

.like-workout {
  cursor: pointer;
  color: #ff8a00;
}
