.nav-link {
  font-size: 20px;
  color: white !important;
}

.orange-btn {
  background-color: #ff8a00;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

.logo {
  max-width: 150px;
}

.navbar-toggler.collapsed {
  background-color: #ff8a00;
}

.dropdown-menu {
  background-color: rgb(255, 255, 255, 0.8);
}

.orange-btn-header {
  background-color: #ff8a00;

  border-radius: 15px;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

.header-logo {
  width: 100px;
  cursor: pointer;
}
