.your-w-header {
  font-size: 40px;
  font-weight: 700;
}

.your-workout-con {
  background-color: rgb(54, 54, 60);
  min-height: 100vh;
  color: white;
  padding-bottom: 90px;
}

.your-workouts-header {
  font-size: 70px;
  font-weight: 700;
  color: #ff8a00;
}

.your-w-table {
  border-collapse: collapse;
  color: white;
  background-color: transparent;
  border: 1px solid #ff8a00;
}

.your-w-table:hover {
  color: white;
}

.your-w-table th {
  border: none;
  color: white;
  font-weight: 900;
  font-size: 20px;
}

.your-w-table td {
  color: white;
  font-weight: 700;
}

.collapse-row {
  border: 1px solid white;
  background-color: rgb(67 67 74);
}

.parent-row {
  cursor: pointer;
}
.tableAndBtn {
  position: relative;
}

.y-w-btn {
  height: 50px;
  background-color: #ff8a00;
  outline: none;
  border: 1px solid rgb(54 54 60);
}

.y-w-btn:hover {
  box-shadow: none;
}

.btn-danger.focus,
.btn-danger:focus {
  border-color: rgb(54 54 60);
}

.y-w-btn.public-btn {
  background-color: #ff8a00;
}

.y-w-btn:focus {
  background-color: #ff8a00;
  box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  background-color: #ff8a00;
  box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.y-w-btn-off {
  height: 50px;
  outline: none;
  border: 1px solid rgb(54 54 60);
}

.y-w-btn-off:focus {
  height: 50px;
  outline: none;
  box-shadow: none;
}

.y-w-btn.btn.btn-warning {
  color: white;
}

.y-w-btn.btn.btn-warning:hover {
  background-color: #ff8a00;
  border: 1px solid rgb(54 54 60);
}

.btn-group-y-workout {
  position: absolute;
  bottom: 0;
  right: -51px;
}

.confirm-delete {
  padding: 9px;
  padding-inline: 20px;
  border-radius: 15px;
  font-size: 20px;
}

.no-workout-create {
  font-weight: 700;
}
