.image-background {
  background-image: url("https://res.cloudinary.com/dyy38u8x7/image/upload/v1682521193/1155708004-huge_yltwxi.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

.second-layer {
  background-color: rgb(0, 0, 0, 0.3);
  height: 100vh;
}
